/* Fondos pros */

.fondo-pro-1 {
  background: url('https://million-wallpapers.ru/wallpapers/4/52/396660848515273/bioshock-big-daddy-y-hermana-peque-a.jpg');
  background-size: cover; /* Opcional: ajusta el tamaño de fondo según sea necesario */
  background-repeat: no-repeat; /* Opcional: evita la repetición del fondo */
}

.fondo-pro-2 {
  background: url('https://c.wallhere.com/photos/43/1f/mountains_orange_sky_sunset_sunset_glow_plains_trees_pine_trees_field-2215028.jpg!d');
  background-size: cover; /* Opcional: ajusta el tamaño de fondo según sea necesario */
  background-repeat: no-repeat; /* Opcional: evita la repetición del fondo */
  animation: moveBackground 15s linear infinite;
}
.fondo-pro-3 {
  background: url('https://i.pinimg.com/originals/b2/87/30/b287302c69f94f0b23f192fc5ce25c6e.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 15s linear infinite;
  position: relative; /* Asegúrate de que el elemento padre tenga posición relativa */
}

.fondo-pro-4 {
  background: url('https://www.xtrafondos.com/descargar.php?id=3897&resolucion=3840x2160');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 180s linear infinite;
  position: relative; /* Asegúrate de que el elemento padre tenga posición relativa */
}

.fondo-pro-5 {
  background: url('https://i.pinimg.com/originals/e4/db/53/e4db53c04c47209dfeca7a2cc31d8b47.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 180s linear infinite;
  position: relative; /* Asegúrate de que el elemento padre tenga posición relativa */
}

.fondo-pro-6 {
  background: url('https://www.xtrafondos.com/wallpapers/galaxia-en-el-espacio-4052.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moveBackground 240s linear infinite;
  position: relative; /* Asegúrate de que el elemento padre tenga posición relativa */
}

@keyframes moveBackground {
  100% {
    background-position: 80% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

 /* texto brillante h1 */

 .text-groups h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.text-groups h3 {
  padding-top: 4px;
  padding-left: 20px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 1px #fff;
}

/* hover-grupos */

.separacion{
  padding-left: 25px;
  padding-right: 25px;
}


/* Animaciones para cards e imagenes*/

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

 @-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


.shadow-pop-tl {
	-webkit-animation: shadow-pop-tl 2s linear infinite alternate both;
	        animation: shadow-pop-tl 2s linear infinite alternate both;
}

 @-webkit-keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }

/* Click del boton rotación */

.shake-bottom:active {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



/* Movimiento alternado para contenedores */

.slide-top {
	animation: slide-top 19s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

 @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  .slide-top h1 {
    color: #fff;
    text-shadow: 0 0 10px #fff;
  }
  
  .slide-top p {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 1px #fff;
  }

  .slide-top-2 {
    animation: slide-top-2 19s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    transform: rotate(-20deg);
  }
  
   @keyframes slide-top-2 {
      
      100% {
        transform: translateY(100);
      }
      0% {
        transform: translateY(0);
      }
    }

/*     Efecto Sombreado y marco de Cards */

.marco-brillante {
  border: 2px solid white;
  box-shadow: 0 0 4px 2px white, 0 0 14px 4px white;
}

.marco-brillante-2 {
  border: 2px solid white;
  box-shadow: 0 0 4px 2px white, 0 0 14px 4px white;
}

.marco-brillante-3 {
  border: 1px solid white;
  box-shadow: 0 0 2px 2px white, 0 0 2px 2px white;
}

  /* Movimiento de boton horizontal */

  .bounce-left {
	animation: bounce-left 1s both;
}


 @keyframes bounce-left {
    0% {
      transform: translateX(-48px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateX(-26px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateX(-13px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateX(-6.5px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateX(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      transform: translateX(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateX(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

   /* boton leer */

   button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
  }
  
  button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1em 1.6em;
    background: #a67ea7;
    border: 2px solid #7c537e;
    border-radius: 0.6em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
  button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c8a5c8;
    border-radius: inherit;
    box-shadow: 0 0.4em 0.4em rgba(0,0,0,0.2), inset 0 -0.2em rgba(255,255,255,0.3), inset -0.2em -0.2em rgba(255,255,255,0.3), inset -0.2em 0 rgba(255,255,255,0.3);
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  
  button.learn-more:hover {
    background: #d6b5d6;
    transform: translate(0, -0.15em);
  }
  
  button.learn-more:hover::before {
    box-shadow: none;
  }
  
  button.learn-more:active {
    background: #d6b5d6;
    transform: translate(0em, 0.5em);
  }
  
  button.learn-more:active::before {
    box-shadow: none;
  }
  

   /* boton estelar */

   .box {
    --clr-shadow__border: #d9a1ff;
    --clr-text: #ffffff;
    --clr-space: #120e1e;
    --clr-space-gr: #271950;
    --clr-star: #E9F8F9;
    --size: 3rem;
    position: relative;
    outline: 1px solid var(--clr-shadow__border);
    transition: transform 0.2s ease;
  }
  
  .box:active {
    transform: scale(0.9);
  }
  
  .button {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    background: transparent;
    padding: calc(var(--size) / 3) var(--size);
    cursor: pointer;
    color: var(--clr-text);
    text-shadow: 2px 0px var(--clr-shadow__border), 0px 2px var(--clr-shadow__border),
    -2px 0px var(--clr-shadow__border), 0px -2px var(--clr-shadow__border);
  }
  
  .space {
    width: 100%;
    height: 100%;
    bottom: 0%;
    gap: 1.5rem;
    transition: 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    background: linear-gradient( 160deg, var(--clr-space), var(--clr-space-gr));
  }
  
  .box:hover .space {
    opacity: 1;
  }
  
  .star {
    height: 4rem;
    width: 0.3rem;
    transition: 0.5s;
    border-radius: 50px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: relative;
    background-color: var(--clr-star);
    animation: space-animation calc(0.1s * var(--i)) linear infinite;
  }
  
  @keyframes space-animation {
    0% {
      transform: rotate(-30deg) translateY(calc(-52% * var(--i)));
    }
  
    100% {
      transform: rotate(-30deg) translateY(calc(52% * var(--i)));
    }
  }

  /* Presentación de texto */

  .focus-in-expand {
	animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  /* Movimiento de boton con el cursor encima */

  .shake-lr:hover {
    -webkit-animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-lr 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

 @-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}



  
  
  