.inicio-container-cube{
    text-align: center;
}
.cube-card {
        margin-left: 800px;
        padding-top: 660px;
        z-index: 1;
        position: absolute;
      }

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-vert-center 16s cubic-bezier(0.955, 0.955, 0.955, 0.955) infinite both;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.face img {
  width: 150px; /* Establece el ancho de las imágenes al 100% del contenedor */
  height: 140px; /* Establece la altura de las imágenes al 100% del contenedor */
  max-width: 100%; /* Garantiza que las imágenes no sean más anchas que el contenedor */
  max-height: 100%; /* Garantiza que las imágenes no sean más altas que el contenedor */
  border-radius: 10px;
}

.front  { transform: rotateY(0deg) translateZ(70px); }
.back   { transform: rotateY(180deg) translateZ(70px); }
.left   { transform: rotateY(-90deg) translateZ(70px); }
.right  { transform: rotateY(90deg) translateZ(70px); }