

.card-container-1{
  margin-top:140px;
  margin-left: 100px;
  position: absolute;
}

.card-container-2{
  margin-top:140px;
  margin-left: 480px;
  position: absolute;
}

.card-container-3{
  margin-top:140px;
  margin-left: 860px;
  position: absolute;
}



.myCard-1 {
  margin-left: 100px;
  margin-top: 870px;
  background-color: transparent;
  width: 170px;
  height: 234px;
  perspective: 1000px;
  position: absolute;
}

.myCard-1 img {
  width: 160px;
  height: 224px;
  border-radius: 1rem;
}

.myCard-1:hover .innerCard {
  transform: rotateY(180deg);
}

.myCard-2 {
  margin-left: 320px;
  margin-top: 870px;
  background-color: transparent;
  width: 170px;
  height: 234px;
  perspective: 1000px;
  position: absolute;
}

.myCard-2 img {
  width: 160px;
  height: 224px;
  border-radius: 1rem;
}

.myCard-2:hover .innerCard {
  transform: rotateY(180deg);
}

.myCard-3 {
  margin-left: 540px;
  margin-top: 870px;
  background-color: transparent;
  width: 170px;
  height: 234px;
  perspective: 1000px;
  position: absolute;
}

.myCard-3 img {
  width: 160px;
  height: 224px;
  border-radius: 1rem;
}

.myCard-3:hover .innerCard {
  transform: rotateY(180deg);
}

.title2 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}



.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

/*
.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
*/

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}


.card-art {
  margin-left: 100px;
  margin-top: 550px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 510px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content-art {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content-art .heading-art {
  font-weight: 700;
  font-size: 32px;
}

.content-art .para-art {
  line-height: 1.5;
}

.content-art .btn-art {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-art:hover {
  box-shadow: 0 0 20px #0093E9;
  border-color: #0093E9;
}

.content-art .btn-art:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content-art .btn-art:active {
  box-shadow: none;
}



.title-2 {
  animation: flickering 2s linear infinite both;
  display: block;
  margin-top: -0.5rem;
  font-size: 40PX;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: #fff 0.1rem;
  letter-spacing: 0.2rem;
  color: transparent;
  position: relative;
  text-shadow: 0px 0px 16px #CECECE;
}

.title-2 span::before,
.title-2 span::after {
  content: '—';
}

@keyframes flickering {
  0%,
  100% {
    opacity: 1;
  }

  41.99% {
    opacity: 1;
  }

  42% {
    opacity: 0;
  }

  43% {
    opacity: 0;
  }

  43.01% {
    opacity: 1;
  }

  47.99% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  49.01% {
    opacity: 1;
  }
}

.image-container {
  margin-left: 740px;
  padding-top: 410px;
  margin-top: 60px;
  width: 600px;
  height: 600px;
  z-index: 0;
}

.image-container img {
  width: 600px;
  height: 600px;
  padding-left: 40px;
}


 
