@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.div-sidebar {
    position: absolute;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ul-sidebar {
    position: relative;
}

.ul-sidebar .li-sidebar {
    position: relative;
    list-style: none;
    width: 240px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    padding: 24.7px;
    z-index: var(--i);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: #fff; /* Color blanco para el texto */
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Resplandor blanco */
  }

.ul-sidebar .li-sidebar .img-sidebar {
    position: absolute;
    left: 180px;
    bottom: 20px;
    width: 36px;
    height: 36px;
}

.ul-sidebar .li-sidebar:hover {
    color: black;
    background: #ffffff; /* Fondo blanco brillante al hacer hover */
    transform: translateX(50px);
    border-radius: 0px 50px 50px 0px;
    border: 2px solid rgb(0, 0, 0)/* Borde inicial */
}


.ul-sidebar .li-sidebar:hover .a-sidebar {
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.ul-sidebar .li-sidebar:hover .a-sidebar {
    color: #000000; /* Texto negro al hacer hover */
}
